<section class="db__highest-rated">
    <h3 class="db--UPPER">Highest Rated Strategies</h3>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
    <article>
        <div class="db__highest-rated__video"></div>
        <a href="" class="db__highest-rated__title">Test Title</a>
        <p class="db__highest-rated__description">Lorem Ipsum Asda dasd dsd sa...</p>
        <p class="db__highest-rated__ratings">Rating: 4/5 St</p>
    </article>
</section>  
