<h1 class="db--LIGHT">Quickly find the best strategies for your favorite CS:GO maps</h1>
<div class="db__search">
    <form name="find-map">
        <input type="text" placeholder="Type a map name" class="db__search__input">
        <p class="db__search__instructions">Press enter to search</p>
    </form>
</div>

{{> highest-rated }}